$primary-green: #2d8f20;
$primary-grey: #444;
$primary-light: #fdfdfd;
$light-grey: #eee;
$highlight-grey: #ddd;

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 14px;
}

body {
  background-color: $primary-light;
  color: $primary-grey;
  font-family: sans-serif;
}

a {
  color: $primary-green;
}

ul {
  list-style-position: inside;
}

ul.tree li {
  list-style-type: none;

  a {
    border-top: 1px solid $highlight-grey;
    display: block;
    padding: 10px;
  }

  a:hover {
    background-color: $light-grey;
  }
}

.header-wrapper {
  border-bottom: 1px solid $highlight-grey;
  display: table;
  width: 100%;
}

.header {
  display: table-row;
  background-color: $light-grey;

  h1 {
    display: table-cell;
    line-height: 1;
    padding: 5px 10px;
  }

  .log-in {
    display: table-cell;
    font-size: .9rem;
    padding: 5px 10px;
    text-align: right;
    vertical-align: middle;
  }
}

.content {
  margin: 50px 250px;
}
